@media (min-width: 1536px) {
    
    .img_adver {
        height: 35px;  
    }
    .insur_topic {  
        padding-top: 80px;
    }
    .header {
        padding-left: 130px;
        padding-right: 130px;
    }
    .buttonrow {
        margin: 50px 0 0 0;
    }
    .bgd_round_1 {
        margin-top: 400px;
        margin-left: 0;
    }
    .bgd_round_2 {
        margin-top: 180px;
        margin-left: 270px;
    }
    .bgd_round_3 {
        margin-top: 430px;
        margin-left: 150px;
    }
    .wrapper_left {
        margin-top: 100px;
    }
    .wrapper_right {
        height: 35%;
        margin-top: 190px;
        margin-left: 220px;
    }
    .vector svg {
        width: 80%; 
        height: 80%;
    }
}
@media (min-width: 1440px) {
    .header {
        padding-left: 100px;
        padding-right: 100px;
    }
    .buttonrow {
        margin: 80px 0 0 0;
    }
    .btn_1 {
        width: 200px;
        height: 60px;
    }
    .img_adver {
        height: 40px;
        width: 100px;
    }
    .img_side {
        background-size: 100%;
    }
    .bgd_round_1 {
        margin-top: 360px;
        margin-left: -30px;
    }
    .bgd_round_2 {
        margin-top: 80px;
        margin-left: 300px;
    }
    .bgd_round_3 {
        margin-top: 380px;
        margin-left: 140px;
    }
    .wrapper_left {
        margin-top: 200px;
    }
    .wrapper_right {
        margin-top: 250px;
        margin-left: 220px;
    }
}
@media (min-width: 1366px) {
    .header {
        padding-left: 50px;
        padding-right: 50px;
    }
    .insur_topic {  
        padding-top: 50px;
    }
    .buttonrow {
        margin: 40px 0 0 0;
    }
    .btn_1 {
        width: 180px;
        height: 50px;
    }
    .img_adver {
        height: 40px;
        margin-top: 80px;
        margin-bottom: 45px;
        margin-right: 15px;
    }
    .bgd_round_1 {
        margin-top: 340px;
        margin-left: 0px;
    }
    .bgd_round_2 {
        margin-top: 80px;
        margin-left: 280px;
    }
    .bgd_round_3 {
        margin-top: 360px;
        margin-left: 130px;
    }
    .wrapper_left {
        margin-top: 150px;
        margin-left: -40px;
    }
    .wrapper_right {
        margin-top: 200px;
        margin-left: 200px;
    }
    .vector svg {
        width: 90%; 
        height: 90%;
    }
}