@media (min-width: 1536px) {
    .img_adver {
        height: 35px;  
    }
    .insur_topic {  
        padding-top: 120px;
    }
    .header {
        padding-left: 130px;
        padding-right: 130px;
    }
    .buttonrow {
        margin: 70px 0 70px 0;
    }
    .bgd_round_1 {
        margin-top: 400px;
        margin-left: 0;
    }
    .bgd_round_2 {
        margin-top: 180px;
        margin-left: 270px;
    }
    .bgd_round_3 {
        margin-top: 430px;
        margin-left: 150px;
    }
    .wrapper_left {
        margin-top: 100px;
    }
    .wrapper_right {
        height: 35%;
        margin-top: 190px;
        margin-left: 220px;
    }
    .vector svg {
        width: 80%; 
        height: 80%;
    }
}
@media (min-width: 1440px) {
    .header {
        padding-left: 100px;
        padding-right: 100px;
    }
    .buttonrow {
        margin: 100px 0 50px 0;
    }
    .btn_1 {
        width: 200px;
        height: 60px;
    }
    .img_adver {
        height: 40px;
        width: 100px;
    }
    .img_side {
        background-size: 100%;
    }
    .bgd_round_1 {
        margin-top: 360px;
        margin-left: -30px;
    }
    .bgd_round_2 {
        margin-top: 80px;
        margin-left: 300px;
    }
    .bgd_round_3 {
        margin-top: 380px;
        margin-left: 140px;
    }
    .wrapper_left {
        margin-top: 200px;
    }
    .wrapper_right {
        margin-top: 250px;
        margin-left: 220px;
    }
}
@media (min-width: 1366px) {
    .mainpage {
        height: 100%;
    }
    .text {
        font-size: 18px;
        font-weight: 300;
        line-height: 35px;
        letter-spacing: 0.10px;
    }
    .insur_topic {  
        margin-top: 80px;
        margin-bottom: 80px;
        font-size: 55px;
        font-weight: 600;
        line-height: 60px;
    }
    .header {
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 42px;
    }
    .buttonrow {
        margin: 40px 0 0 0;
    }
    .btn_1 {
        width: 180px;
        height: 50px;
    }
    .img_adver {
        height: 40px;
        margin-top: 80px;
        margin-bottom: 45px;
        margin-right: 15px;
    }
    .img_side {
        background-size: 80%;
        background-position: bottom left;
    }
    .bgd_round_1 {
        margin-top: 200px;
        margin-left: 0px;
    }
    .bgd_round_2 {
        margin-top: 30px;
        margin-left: 280px;
    }
    .bgd_round_3 {
        margin-top: 230px;
        margin-left: 110px;
    }
    .wrapper_left {
        margin-top: 180px;
        margin-left: -40px;
    }
    .wrapper_right {
        margin-top: 150px;
        margin-left: 180px;
    }
    .vector svg {
        width: 90%; 
        height: 90%;
    }
}
@media (min-width: 1024px) {
    .text {
        font-size: 14px;
        font-weight: 300;
        line-height: 25px;
        letter-spacing: 0.3px;
    }
    .insur_topic {  
        font-size: 45px;
        font-weight: 400;
        line-height: 50px;
    }
    .header {
        padding-left: 20px;
        padding-right: 20px;
    }
    .btn {
        width: 100px;
        height: 30px;
    }
    .insur_topic {  
        padding-top: 30px;
    }
    .buttonrow {
        margin: 20px 0 0 0;
    }
    .btn_font {
        font-weight: bold;
        padding: 0;
    }
    .img_adver {
        height: 30px;
        margin-top: 50px;
        margin-bottom: 25px;
        margin-right: 10px;
    }
    .bgd_round {
        background-color: #fff;
        border-radius: 100%;
        width: 35px;
        height: 35px;
        padding-top: 12px;
    }
    .img_inround {
        width: 200%;
        margin-left: -6px;
        margin-top: -14px;
    }
    .bgd_round_1 {
        margin-top: 180px;
        margin-left: 0px;
    }
    .bgd_round_2 {
        margin-top: 50px;
        margin-left: 230px;
    }
    .bgd_round_3 {
        margin-top: 200px;
        margin-left: 100px;
    }
    .wrapper {
        width: 160px;
        height: 50px;    
    }
    .wrapper_left {
        margin-top: 60px;
        margin-left: -20px;
    }
    .wrapper_right {
        height: 45%;
        margin-top: 90px;
        margin-left: 150px;
    }
    .img_side {
        background-size: 60%;
    }
    .corner {
        width: 20%;
        margin-top: -70px;
        margin-left: -180px;
    }
    .shield {
        height: 95%;
    }
    .vector svg {
        width: 100%; 
        height: 100%;
    }
}

