
body {
    font-family: Roboto, sans-serif;
    color: #FFF;
}
.text {
    font-size: 21.426px;
    font-style: normal;
    font-weight: 400;
    line-height: 46.869px;
    letter-spacing: 0.15px;
}
.text_1 {
    padding: 0 auto;
}
.btn {
    width: 155px;
    height: 55px;
}
.btn:hover {
    
    background-color: white;
}
.insur_topic {  
    color: #FFF;
    font-family: "Playfair Display";
    font-size: 69.633px;
    font-style: normal;
    font-weight: 700;
    line-height: 87.042px;
    padding-top: 110px;
}
.mainpage {
    background-color: #136342;
    width: 100%;
}
.header {
    padding-top: 55px;
    padding-left: 190px;
    padding-right: 190px;
    position: relative;
    z-index: 3;
}
.text_descr {
    margin-top: 35px;
}
.buttonrow {
    margin: 100px 0 0 0;
}
.btn_1 {
    width: 225px;
    height: 80px;
    margin-right: 30px;
    color: #FFF;
    font-size: 18.747px;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}
.img_adver {
    height: 50px;
    margin-top: 100px;
    margin-bottom: 65px;
    background-color: #fff;
    margin-right: 30px;
    border-radius: 5px;
}
.img_side {
    background-image: url('img/pexels-photo.png');
    background-position: bottom center;
    background-size: 80%;
    background-repeat: no-repeat;
}
.bgd_round {
    background-color: #fff;
    border-radius: 100%;
    width: 65px;
    height: 65px;
    padding-top: 12px;
}
.bgd_round_1 {
    margin-top: 350px;
    margin-left: 0;
}
.bgd_round_2 {
    margin-top: 90px;
    margin-left: 320px;
}
.bgd_round_3 {
    margin-top: 400px;
    margin-left: 230px;
}
.wrapper {
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: black;
    font-size: 18.747px;
    font-weight: 400;
    line-height: 33.478px; 
    width: 240px;
    height: 70px;    
}
.wrapshield {
    background-color: #136342;
    height: 55%;
    padding: 3px;
    border-radius: 5px;
}
.wrapper_left {
    margin-top: 160px;
    margin-left: -45px;
}
.wrapper_right {
    position:relative;
    height: 40%;
    padding-left: 10px;
    margin-top: 220px;
    margin-left: 300px;
}
.corner {
    position: absolute;
    margin-top: -120px;
    margin-left: -255px;
}

